body{
	overflow-x: hidden;
}
.card {
	width: 98.5%;
    height: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: none;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 20px;
}
.placeselect{
	position: absolute;
	top: 150px;
	left: 480px;
}
.placesearch{
	position: absolute;
	top: 250px;
	left: 500px;
}
.placebutton{
	position: absolute;
	top: 350px;
	left: 670px;
}
.pads1{
	padding: 10px;
	margin-top: 20px;
	margin-right: 0px;
}
.pads2{
	padding: 10px;
	margin-top: 20px;
	margin-right: 60px;
}
.alignimg{
	float: right;
	display: none;
	border-radius: 5px 5px 5px 5px;
}
.aligntext{

}
.spaces{
	margin-right: 10px;
	font-size: 110%;
    color: red;
    font-style:italic;
    font-family:georgia,garamond,serif;
}